<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/car_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <table class="table table-bordered border-secondary-subtle table-hover text-center">
                    <colgroup>
                        <col width="12%">
                        <col width="14%">
                        <col width="13%">
                        <col width="13%">
                        <col width="13%">
                        <col width="13%">
                        <col width="13%">
                    </colgroup>
                    <thead>
                        <tr class="table-secondary">
                            <td rowspan="2" class="align-middle">No.</td>
                            <td colspan="4">구매자정보</td>
                            <td colspan="2">차량정보</td>
                        </tr>
                        <tr class="table-secondary">
                            <td>구매자명</td>
                            <td>연락처</td>
                            <td>구매일</td>
                            <td>색상</td>
                            <td>모델명</td>
                            <td>금액</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                            <td>a</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>
</html>