<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/car_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="container">
        <div class="row">
            <div class="col-2 text-end">
                <span>구매자명</span>
            </div>
            <div class="col">
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col-2 text-end">
                <span>색상</span>
            </div>
            <div class="col">
                <select class="form-select" aria-label="Default select example">
                    <option value="">블랙</option>
                    <option value="">화이트</option>
                    <option value="">실버</option>
                    <option value="">레드</option>
                </select>
            </div>
            <div class="col-2 text-end">
                <span>모델</span>
            </div>
            <div class="col">
                <select class="form-select" aria-label="Default select example">
                    <option value="">아반떼</option>
                    <option value="">소나타</option>
                    <option value="">K5</option>
                    <option value="">K8</option>
                </select>
            </div>
        </div>
    
        <div class="row">
            <div class="col-2 text-end">
                <span>연락처</span>
            </div>
            <div class="col">
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <input type="button" value="등록">
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>
</html>