<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/car_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/car/car_list.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="container">
        <form action="/car/insertCar" method="post">
            <table class="table table-borderless align-middle">
                <tr>
                    <td colspan="6">
                        <div class="row">
                            <div class="col">
                                -차량등록
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-end">제조사</td>
                    <td>
                        <select name="carCompany" class="form-select text-center" aria-label="Default select example">
                            <option value="현대">현대</option>
                            <option value="기아">기아</option>
                            <option value="쌍용">쌍용</option>
                        </select>
                    </td>
                    <td class="text-end">모델명</td>
                    <td>
                        <input name="carName" type="text" class="form-control text-center">
                    </td>
                    <td class="text-end">차량가격</td>
                    <td>
                        <input name="carPrice" type="text" class="form-control text-center" value="10000">
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="text-end">
                        <input type="submit" class="btn btn-outline-primary" value="등록">
                    </td>
                </tr>
            </table>
        </form>

        <div class="row">
            <div class="col">
                <table class="table table-borderless">
                    <tr>
                        <td>
                            -차량목록
                        </td>
                    </tr>
                </table>        
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-hover text-center">
                    <colgroup>
                        <col width="20%">
                        <col width="50%">
                        <col width="30%">
                    </colgroup>
                    <thead>
                        <tr class="table-secondary fw-bold">
                            <td>모델번호</td>
                            <td>모델명</td>
                            <td>제조사</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="car : ${carList}">
                            <td>[[${car.carNum}]]</td>
                            <td>[[${car.carName}]]</td>
                            <td>[[${car.carCompany}]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>
</html>